<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link href="{% static 'css/LogIn.css' %}" rel="stylesheet">
    <style>

        .loginfrm {
           color: red;
           background-color: blue;
        }

        INPUT[type="Username"] {
        background-color: #224957;
        color: white;
        }
        .form-control:focus{border-color: #5cb85c;  box-shadow: none; -webkit-box-shadow: none; background-color: #224957; color: white;}
        .form-control:
    </style>
</head>
<body>
<h2>Login</h2>
<form method="post" class="lodinfrm">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="loginfrm">
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
    </div>
    <div class="fieldWrapper">
        {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password }}
    </div>
    <button type="submit">Login</button>
</form>
</body>
</html>
